#app {
    height: 100%;
}

// FIXME: More styles from ct-system-overview
.current-metrics {
  --card-width: 22rem;
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(var(--card-width), 1fr));

  // the cards already have padding, align the "top 5" tables with the other content
  .pf-c-table {
      --pf-c-table--m-compact--cell--first-last-child--PaddingLeft: 0;
      --pf-c-table--m-compact--cell--first-last-child--PaddingRight: 0;
  }

  .pf-c-card {
      &__title {
          font-size: var(--pf-global--FontSize--xl);
          font-weight: var(--pf-global--FontWeight--normal);
      }

      .progress-stack {
          display: grid;
          padding: var(--pf-global--spacer--lg) 0;
          grid-gap: var(--pf-global--spacer--xl) var(--pf-global--spacer--2xl);
      }
  }

  .pf-c-progress {
      grid-gap: 0;
  }

  // default is way too wide for the cards
  .pf-c-description-list {
      --pf-c-description-list--m-horizontal__term--width: minmax(0, auto);
      --pf-c-description-list--m-horizontal__description--width: minmax(0, auto);
      --pf-c-description-list__group--ColumnGap: 0;
  }
}

.metrics {
    --column-size: minmax(5rem, 10vw);
    --data-min-height:5px;
    --data-gap: 0;
    &-history,
    &-hour {
        display: grid;
        grid-template: "events cpu memory disks net";
        grid-template-columns: [events] 3fr [cpu] var(--column-size) [memory] var(--column-size) [disks] var(--column-size) [network] var(--column-size);
        grid-column: 1 / -1;
        position: relative;
    }

    &-hour {
        grid-gap: var(--data-gap);
        grid-template-rows: repeat(60, minmax(var(--data-min-height), auto));
    }

    &-time,
    &-label {
        padding: 0.5rem 1rem;
    }

    &-info,
    &-events {
        padding: 0 1rem;
    }

    &-label {
        background: #ddd;
        position: sticky;
        top: 0;
        z-index: 99;

        &-graph {
            text-align: center;
        }
    }

    &-time {
        grid-row: 0;
        grid-column: 1 / -1;
        background: #eee;
    }

    &-events {
        grid-column: events;
        grid-row: calc(60 - var(--metrics-minute));
        display: grid;
        grid-template-columns: [info] 1fr [time] 1fr;
        align-items: baseline;

        dt {
            grid-column: time;
            font-size: var(--pf-global--FontSize--sm);
            grid-row: 1;
        }

        dd {
            grid-column: info;
        }
    }

    &-info {
        grid-row: calc(60 - var(--metrics-minute));
        grid-column: information;
    }

    &-data {
        grid-row: calc(60 - var(--metrics-minute));
        display: grid;
        contain: strict;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &.valid-data {
            border-top: 1px solid rgba(0,0,0,0.3);
        }
        // vertical ruler line for areas with data
        &.valid-data:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: 1px solid rgba(0,0,0,0.3);
        }

        > svg {
            fill: var(--color);
            min-width: 2px;
            width: 100%;
            height: 100%;
        }

        &-cpu {
            --color: plum;
            grid-column: cpu;
            --mult: 1;
        }

        &-memory {
            --color: lightblue;
            grid-column: memory;
            --mult: 0.5;
        }

        &-disks {
            --color: lightgreen;
            grid-column: disks;
            --mult: 0.25;
        }

        &-network {
            --color: lightsalmon;
            grid-column: network;
            --mult: 0.15;
        }
    }

    // vertical dotted line through graph center, for areas without data
    &-data:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 1px dotted rgba(0,0,0,0.3);
    }
}

.bottom-panel {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.nodata {
    margin: 1em;
}
